<h1>Recipes</h1>

<% if @recipes.any? %>
<% recipes = @recipes.sort_by { |k| k[:title] } %>
  <ul>
    <% recipes.each do |recipe| %>
      <li><%= link_to recipe.title, recipe_path(recipe) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no recipes yet.</p>
<% end %>

<p><%= link_to "Create new recipe", new_recipe_path %></p>