<h1><%= @tag.tag %> <small><%= link_to "edit", edit_tag_path(@tag) %></small></h1>

<% if @tag.recipes.any? %>
  <% @tag.recipes.each do |recipe| %>
    <ul>
      <li>
        <%= link_to recipe.title, recipe_path(recipe) %>
      </li>
    </ul>
  <% end %>
<% else %>
  <p>No recipes are listed for this tag.</p>
<% end %>
